
h1 {
  font-size: 24px;
    font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.container p {
  margin-top: 10px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-form input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #17a744; 
}


.track-list {
  list-style: none;
  margin-top: 5px;
}

.track-list li {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.track-list img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
}

.track-list .track-info {
  flex-grow: 1;
}

.track-list .track-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.track-list .track-info p {
  margin: 5px 0 0;
  color: #666;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #17a744;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading-indicator {
  text-align: center;
  font-size: 16px;
  color: #1db954;
}

.loading-indicator::after {
  content: '...';
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #1db954;
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: .25em 0 0 #1db954, .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: .25em 0 0 #1db954, .5em 0 0 #1db954;
  }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px 20px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #17a744;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

